<h1>New Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Back', customers_path %>


<a id="top"></a>
<div class="wrapper">
  <section>
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1>新規顧客追加</h1>
      </div>
      <!-- / .title -->
    </div>
    <!-- / .sectionHeader -->
    <div class="contents">
      <form class="form">
        <div class="table fixed">
          <div class="row m_u10">
            <div class="col resp_m_u10">
              <div class="th">顧客名 <span class="label alert">必須</span></div>
              <div class="td">
                <input value="" name="input" placeholder="" class="w100" id="client" type="text">
              </div>
            </div>
            <!-- / .col -->
          </div>
          <!-- / .row -->
          <h2>ステータス</h2>
          <div class="row m_u10">
            <div class="td">
              <label for="valid" class="w100">
                <input value="" name="status" id="valid" type="radio" checked>
                有効</label>
              <label for="invalid" class="w100">
                <input value="" name="status" id="invalid" type="radio">
                無効 </label>
            </div>
            <!-- / .td -->
          </div>
          <!-- / .row -->
        </div>
        <!-- / .table fixed -->
        <div class="btns tc">
          <button class="btn blue w30 center" type="button" onclick="parent.location.href='edit.html'">登録</button>
          <a href="client_list.html" class="btn default w30 center" target="_parent">閉じる</a></div>
      </form>
      <!-- / .form -->
    </div>
    <!-- / .contents -->
  </section>
  <!-- / section -->
</div>