<h1>Accounts#index</h1>


  <section class="list">
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1>ユーザー一覧</h1>
      </div>
      <!-- / .title -->
      <div class="extra fl"><a href="user_addition.html" class="btn addition open">新規ユーザー追加</a></div>
    </div>
    <!-- / .sectionHeader -->
    <div class="contents list">
      <table class="deco-tb fs4">
        <tr>
          <th class="w35">名前</th>
          <th class="w20">メールアドレス</th>
          <th class="w20">権限</th>
          <th class="w10">編集</th>
          <th class="w10">削除</th>
        </tr>

        <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.email %></td>
          <td><%= account.rolename %></td>
          <td><a href="user_edit.html" class="btn blue addition open"><span class="icon-edit"></span> 編集</a></td>
          <td><a href="user_delete.html" class="btn red open"><span class="icon-delete"></span> 削除</a></td>
        </tr>
        <% end %>
      </table>
      <!-- / .deco-tb -->
    </div>
    <!-- / .contents.list -->
  </section>
  <!-- / section -->
